<table class="users-table" *ngIf="users.length > 0" dir="rtl">
  <thead>
    <tr>
      <th>رقم الهاتف</th>
      <th>كلمة المرور</th>
      <th>رموز الدخول</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let user of users">
      <td (click)="copyText(user.phone)">
        {{ user.phone }}
      </td>

      <td (click)="copyText(user.password)">
        {{ user.password }}
      </td>

      <td>
        <ul>
          <li
            *ngFor="let otp of user.otPs"
            (click)="copyText(otp)"
          >
            {{ otp }}
          </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="users.length === 0" class="empty-cart">
  لا يوجد مستخدمين للعرض
</div>
